<div class="container mt-3">
  <h2>Form Create</h2>
  <form [formGroup]="formCreate" (submit)="create()" >

    <div class="mb-3">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name" formControlName="name">
    </div>
    <div class="mb-3">
      <label for="img">Img:</label>
      <input type="text" class="form-control" id="img" placeholder="Enter img" formControlName="img">
    </div>
    <div class="mb-3">
      <label for="price">Price:</label>
      <input type="text" class="form-control" id="price" placeholder="Enter price" formControlName="price">
    </div>

    <button type="submit" class="btn btn-primary" >Submit</button>
  </form>
</div>
